{% extends 'base.html.twig' %}

{% block title %}Feuille index{% endblock %}

{% block body %}
    <h1>Feuille {{ feuille.id }}</h1>Feuille à {{ feuille.user.username }} {{ feuille.user.id }}
{{ form_start(form) }}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
        {% for question in feuille.questions %}
      <th scope="col">{{ question.title }}</th>
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Réponses</td>
      <td id="{{ feuille.user.id }}-reponse1">{{ feuille.reponse1 }}{{ form_widget(form.reponse_1_score) }}</td> 
      <td id="{{ feuille.user.id }}-reponse2">{{ feuille.reponse2 }}{{ form_widget(form.reponse_2_score) }}</td> 
      <td id="{{ feuille.user.id }}-reponse3">{{ feuille.reponse3 }}{{ form_widget(form.reponse_3_score) }}</td> 
      <td id="{{ feuille.user.id }}-reponse4">{{ feuille.reponse4 }}{{ form_widget(form.reponse_4_score) }}</td> 
      <td id="{{ feuille.user.id }}-reponse5">{{ feuille.reponse5 }}{{ form_widget(form.reponse_5_score) }}</td> 
      <td id="{{ feuille.user.id }}-reponse6">{{ feuille.reponse6 }}{{ form_widget(form.reponse_6_score) }}</td> 
      <td id="{{ feuille.user.id }}-reponse7">{{ feuille.reponse7 }}{{ form_widget(form.reponse_7_score) }}</td> 
    </tr>
  </tbody>
</table>
<button class="btn">{{ button_label|default('Save') }}</button>
  {{ form_end(form) }}
{% endblock %}