{% extends 'base.html.twig' %}

{% block title %}Invitation index{% endblock %}

{% block body %}
    <h1>Invitation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User_id_demande</th>
                <th>User_id_invite</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.id }}</td>
                <td>{{ invitation.userIdDemande }}</td>
                <td>{{ invitation.userIdInvite }}</td>
                <td>{{ invitation.createdAt ? invitation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('invitation_show', {'id': invitation.id}) }}">show</a>
                    <a href="{{ path('invitation_edit', {'id': invitation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invitation_new') }}">Create new</a>
{% endblock %}
