{% extends 'base.html.twig' %}

{% block title %}Invitation index{% endblock %}

{% block body %}
    <h1>Invitation index</h1>

<div class="invitations-recues">
    <table class="table">
        <h1>Invitation Reçues</h1>
        <thead>
            <tr>
                <th>Id</th>
                <th>Qui demande ?</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.id }}</td>
                <td>{{ invitation.UserReciever.username }}</td>
                <td>{{ invitation.createdAt ? invitation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
{#                    <a href="{{ path('invitation_show', {'id': invitation.id}) }}">show</a>#}
{#                    <a href="{{ path('invitation_edit', {'id': invitation.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="invitations-envoyees">
    <table class="table">
        <h1>Invitation Envoyées</h1>
        <thead>
            <tr>
                <th>Id</th>
                <th>User Invité</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
{% for invitation in invitations_sender %}
            <tr>
                <td>{{ invitationSender.id }}</td>
                <td>{{ invitationSender.user.username }}</td>
                <td>{{ invitationSender.createdAt ? invitation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('invitation_show', {'id': invitation.id}) }}">show</a>
                    <a href="{{ path('invitation_edit', {'id': invitation.id}) }}">edit</a>
                    <a href="{{ path('invitation_delete', {'id': invitation.id}) }}">delete</a>        
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


    <a href="{{ path('invitation_new') }}">Create new</a>
{% endblock %}
