{% extends 'base.html.twig' %}

{% block title %}Invitation index{% endblock %}

{% block body %}

<div class="newgame-container d-flex justify-content-center">
	<div class="newgame-card">
		<div class="newgame-card-header d-flex justify-content-center">
			<p>{{ user.username }}</p>
		</div>
		<div class="newgame-card-body">
        {% for game in user.games %}
		<div class="login-card-body">
        	{{ game.id }}
			{{ game.nom }}
		</div>
        {% endfor %}
        </div>
	</div>
</div>
	<div class="invitations-sended">
		<table class="table">
			<h1>Infos</h1>
			<thead>
			<tr>
				<th>Expérience</th>
				<th>Meilleur score</th>
				<th>Parties jouées</th>
				<th>Parties gagnées</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ user.experience }}</td>
					<td>{{ user.meilleurScore }}</td>
					<td>{{ user.totalGamesPlayed }}</td>
					<td>{{ user.totalGamesWon }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="invitations-sended">
		<table class="table">
			<h1>Amis</h1>
			<thead>
			<tr>
				<th>Id</th>
				<th>Amis</th>
			</tr>
			</thead>
			<tbody>
			{% for friend in friends %}
				<tr>
					<td>{{ friend.id }}</td>
					<td>{{ friend.username }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
