{% extends 'base.html.twig' %}

{% block title %}Manche{% endblock %}

{% block body %}
    <h1>Manche {{ manche.nom }} Feuilles</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Mes réponses</th>
            {% for feuille in manche.feuilles %}
            <th scope="col">{{ feuille.user.username }}</th>
            {% endfor %}
            <th scope="col">Questions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Réponse 1</th>
            {% for feuille in manche.feuilles %}
            <td>{{ feuille.reponse[0] }}</td>
            {% endfor %}
            <td>{{ question[0].Title }}</td>

        </tr>
        <tr>
            <th scope="row">Réponse 2</th>
            {% for feuille in manche.feuilles %}
            <td>{{ feuille.reponse2 }}</td>
            {% endfor %}
            <td>{{ question[1].Title }}</td>
        </tr>
        <tr>
            <th scope="row">Réponse 3</th>
            {% for feuille in manche.feuilles %}
            <td>{{ feuille.reponse3 }}</td>
            {% endfor %}
            <td>{{ question[2].Title }}</td>
        </tr>
        <tr>
            <th scope="row">Réponse 4</th>
            {% for feuille in manche.feuilles %}
            <td>{{ feuille.reponse4 }}</td>
            {% endfor %}
            <td>{{ question[3].Title }}</td>
        </tr>
        <tr>
            <th scope="row">Réponse 5</th>
            {% for feuille in manche.feuilles %}
            <td>{{ feuille.reponse5 }}</td>
            {% endfor %}
            <td>{{ question[4].Title }}</td>
        </tr>
        <tr>
            <th scope="row">Réponse 6</th>
            {% for feuille in manche.feuilles %}
            <td>{{ feuille.reponse6 }}</td>
            {% endfor %}
            <td>{{ question[5].Title }}</td>
        </tr>
        <tr>
            <th scope="row">Réponse 7</th>
            {% for feuille in manche.feuilles %}
            <td>{{ feuille.reponse7 }}</td>
            {% endfor %}
            <td>{{ question[6].Title }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}