{% extends 'base.html.twig' %}

{% block title %}Manche index{% endblock %}

{% block body %}
    <h1>Manche index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Temps</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ manche.id }}</td>
                <td>{{ manche.nom }}</td>
                <td>{{ manche.temps }}</td>
                <td>
                    <a href="{{ path('manche_show', {'id': manche.id}) }}">show</a>
                    <a href="{{ path('manche_edit', {'id': manche.id}) }}">edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Questions</th>
            </tr>
        </thead>
        <tbody>
            <tr>                
                {% for question in manche.questions %}
                <td>{{ question.title }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Users</th>
            </tr>
        </thead>
        <tbody>
                <tr>                
                {% for user in manche.users %}
                <td>{{ user.username }}</td>
                {% endfor %}
                </tr>  
        </tbody>
    </table>
    <a href="{{ path('etape_2', {'id': manche.id}) }}">Jouer</a>
{% endblock %}