{% extends 'base.html.twig' %}

{% block title %}Manche index{% endblock %}

{% block body %}
    <h1>Manche index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Temps</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manche in manches %}
            <tr>
                <td>{{ manche.id }}</td>
                <td>{{ manche.nom }}</td>
                <td>{{ manche.temps }}</td>
                <td>
                    <a href="{{ path('manche_show', {'id': manche.id}) }}">show</a>
                    <a href="{{ path('manche_edit', {'id': manche.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('manche_new') }}">Create new</a>
{% endblock %}
